<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="mcxtzhang.listswipemenudemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="mcxtzhang.swipedelmenu.FullDemo.FullDelDemoActivity">
        </activity>
        <activity android:name="mcxtzhang.swipedelmenu.LinearLayoutDelDemoActivity">
        </activity>
        <activity android:name="mcxtzhang.swipedelmenu.ListViewDelDemoActivity">
        </activity>
        <activity android:name="mcxtzhang.swipedelmenu.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="mcxtzhang.swipedelmenu.viewpager.ViewPagerActivity">
        </activity>
    </application>

</manifest>